/* ! ==== Global General Typographic / Element Styles ==== */

html {
    font-size: 100%; 
    min-height: 100%; 
    margin-bottom: 1px; 
    
    &.no-touch { overflow-x: hidden; }
}

body {
    color: $default-color;
    
    @include pe-media( $breakpoint-medium ) { text-rendering: optimizeLegibility; }
}

html, 
body { background-color: $bg-color; }

body, 
input, 
textarea, 
select, 
button {
    font: $normal-weight 100%/#{$base-line-height-ratio} $font-custom; 
}


/* ! ===== Generic declarations ===== */
a { 
	// Anchors should have an underline when inside the main content area. See _typography.scss 
	@extend %transition; 
	color: $link-color; 
	text-decoration: none; 
	
	@include touch-hover() {
    	color: $link-hover; 
    	text-decoration: none; 
	}
}

a, 
#{$form-input-buttons} {
    -webkit-touch-callout: none;                // prevent callout to copy image, etc when tap to hold 
    -webkit-text-size-adjust: none;             // prevent webkit from resizing text to fit 
    -webkit-tap-highlight-color: rgba(0,0,0,0); // prevent tap highlight color / shadow 
    -webkit-tap-highlight-color: transparent;   // for some Androids
    -webkit-user-select: none;                  // prevent copy paste -- to allow, change 'none' to 'text' 
}

nav a, 
menu a, 
.menu a { display: block; }


// Set the highlight colors. These selection declarations have to be separate 
::-moz-selection { background: $link-color; color: $white; text-shadow: none; }
::selection { background: $link-color; color: $white; text-shadow: none; }

img { 
    display: block; 
    margin: 0 auto; 
}


/* ! ===== Headers & Type Sizes ===== */

.giga { @include pe-rem-helper( font-size, $giga ); }

.mega { @include pe-rem-helper( font-size, $mega ); }

.kilo { @include pe-rem-helper( font-size, $kilo ); }

.alpha { @include headerone(); }

.bravo { @include headertwo(); }

.charlie { @include headerthree(); }

.delta { @include headerfour(); }

.echo { @include headerfive(); }

.foxtrot { @include headersix(); }

hr { border-top: 1px solid $border-color; }  
        

/* ! ===== Accesibility and Language Support ===== */

html[dir=rtl] { direction: rtl; }

abbr[title], 
dfn[title] { border-bottom: 1px dotted palette(mono,mid-dark); }


/* ! ===== Global elements ===== */

.pre {
    // A useful class that helps control how lines might break. Use carefully. 
    white-space: nowrap; 
}
