////////////////////////
//   Initialization   //
////////////////////////

/* Try this: 
    
    Markup: .js-gallery as the watcher, .js-popup as the click action. Everything else optional. 
    
    <ul class="gallery--list menu js-gallery">
        <li class="gallery--item">
            <figure class="gallery--media">
                <a class="gallery--link s-popup" href="/gallery_photos/211.281.jpg" title="title">
                    <img src="/gallery_photos/211.281.jpg" alt="title">
                </a>
            </figure>
        </li><li class="gallery--item">
            <figure class="gallery--media">
                <a class="gallery--link js-popup" href="/gallery_photos/213.284.jpg" title="title">
                    <img src="/gallery_photos/213.284.jpg" alt="title">
                </a>
            </figure>
        </li>
    </ul>
    
    
    $('.js-gallery').each( function() {
        
        $(this).magnificPopup({
            disableOn: 480, // disable this plugin when window width is less that number
            delegate: '.js-popup',
            removalDelay: 500, // Needed for CSS Transitions to work
            mainClass: 'mfp-fade', // Needed for CSS Transitions to work
            type: 'image',
            gallery: {
                enabled: true, // set to true to enable gallery
                preload: [1,2], // load one previous and 2 next objects
                navigateByImgClick: true,
                
                // Optional... leave these off to use default markup
                arrowMarkup: '<button title="%title%" type="button" class="mfp-arrow mfp-arrow-%dir%"></button>', 
                tPrev: 'Previous (Left arrow key)', // title for left button
                tNext: 'Next (Right arrow key)', // title for right button
                tCounter: '<span class="mfp-counter">%curr% of %total%</span>' // title for counter
            }
        });
        
    }); 
*/


////////////////////////
//      Settings      //
////////////////////////

// overlay
$overlay-color:                   $black;                     // Color of overlay screen
$overlay-opacity:                 0.94;                       // Opacity of overlay screen
$shadow:                          .25em .25em 0.3175em rgba(#000, 0.8); // Shadow on image or iframe

// spacing
$popup-padding-left:              $grid-spacing;              // Padding from left and from right side
$popup-padding-left-mobile:       $grid-spacing/2;            // Same as above, but is applied when width of window is less than 800px

$z-index-base:                    5000;                       // Base z-index of popup

// controls
$include-arrows:                  true;                       // Include styles for nav arrows
$controls-opacity:                0.65;                       // Opacity of controls
$controls-color:                  palette(mono,light);        // Color of controls
$inner-close-icon-color:          $white;                     // Color of close button when inside
$controls-text-color:             palette(mono,base);         // Color of preloader and "1 of X" indicator
$controls-text-color-hover:       palette(mono,dark);         // Hover color of preloader and "1 of X" indicator
$arrow-inner-color:               palette(mono,light);
$arrow-border-color:              palette(mono,light); 

$IE7support:                      $legacy-support-for-ie7;    // Very basic IE7 support

// Iframe-type options
$include-iframe-type:             true;                       // Enable Iframe-type popups
$iframe-padding-top:              $vert-grid-spacing*2;       // Iframe padding top
$iframe-background:               $white;                     // Background color of iframes
$iframe-max-width:                920px;                      // Maximum width of iframes
$iframe-ratio:                    9/16;                       // Ratio of iframe (9/16 = widescreen, 3/4 = standard, etc.)

// Image-type options
$include-image-type:              true;                       // Enable Image-type popups
$image-background:                palette(mono) !default;
$image-padding-top:               $vert-grid-spacing*2;       // Image padding top
$image-padding-bottom:            $vert-grid-spacing*2;       // Image padding bottom
$include-mobile-layout-for-image: true;                       // Removes paddings from top and bottom

// Image caption options
$caption-title-color:             palette(mono,base);         // Caption title color
$caption-subtitle-color:          palette(mono,dark);         // Caption subtitle color


////////////////////////
//
// Contents:
//
// 1. Default Settings
// 2. General styles
//    - Transluscent overlay
//    - Containers, wrappers
//    - Cursors
//    - Helper classes
// 3. Appearance
//    - Preloader & text that displays error messages
//    - CSS reset for buttons
//    - Close icon
//    - "1 of X" counter
//    - Navigation (left/right) arrows
//    - Iframe content type styles
//    - Image content type styles
//    - Media query where size of arrows is reduced
//    - IE7 support
//
////////////////////////


////////////////////////
// 1. Default Settings
////////////////////////

$overlay-color:                   #0b0b0b !default;
$overlay-opacity:                 0.8 !default;
$shadow:                          0 0 8px rgba(0, 0, 0, 0.6) !default; // shadow on image or iframe
$popup-padding-left:              8px !default; // Padding from left and from right side
$popup-padding-left-mobile:       6px !default; // Same as above, but is applied when width of window is less than 800px

$z-index-base:                    1040 !default; // Base z-index of popup
$include-arrows:                  true !default; // include styles for nav arrows
$controls-opacity:                0.65 !default;
$controls-color:                  #FFF !default;
$inner-close-icon-color:          #333 !default;
$controls-text-color:             #CCC !default; // Color of preloader and "1 of X" indicator
$controls-text-color-hover:       #FFF !default;
$IE7support:                      true !default; // Very basic IE7 support

// Iframe-type options
$include-iframe-type:             true !default;
$iframe-padding-top:              40px !default;
$iframe-background:               #000 !default;
$iframe-max-width:                900px !default;
$iframe-ratio:                    9/16 !default;

// Image-type options
$include-image-type:              true !default;
$image-background:                #444 !default;
$image-padding-top:               40px !default;
$image-padding-bottom:            40px !default;
$include-mobile-layout-for-image: true !default; // Removes paddings from top and bottom

// Image caption options
$caption-title-color:             #F3F3F3 !default;
$caption-subtitle-color:          #BDBDBD !default;


////////////////////////
// 2. General styles
////////////////////////

// Animations 
/* overlay at start */
.mfp-fade.mfp-bg {
    opacity: 0;
    @include transition( opacity 500ms ease ); 
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready { opacity: $overlay-opacity; }

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing { opacity: 0; }

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    @include transition( opacity 500ms ease ); 
}

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content { opacity: 1; }

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content { opacity: 0; }


// Transluscent overlay
.mfp-bg {
    position: fixed;
        top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: $z-index-base + 2;
    overflow: hidden;
    background: $overlay-color;
    @include opacity( $overlay-opacity )
}

// Wrapper for popup
.mfp-wrap {
    position: fixed;
        top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: $z-index-base + 3;
    outline: none !important;
    -webkit-backface-visibility: hidden; // fixes webkit bug that can cause "false" scrollbar
}

// Root container
.mfp-container {
    position: absolute;
        top: 0; left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0 $popup-padding-left;
}

// Vertical centerer helper
.mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

// Remove vertical centering when popup has class `mfp-align-top`
.mfp-align-top .mfp-container:before { display: none; }

// Popup content holder
.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: $z-index-base + 5; 
    @include opacity(1);
}
.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto;
}

// Cursors
.mfp-ajax-cur {
    cursor: progress;
}
.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}
.mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}
.mfp-auto-cursor .mfp-content {
    cursor: auto;
}
.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
    -webkit-user-select:none;
    -moz-user-select: none;
    user-select: none;
}

// Hide the image during the loading
.mfp-loading.mfp-figure { @include opacity(0); /* display: none; */ }

// Helper class that hides stuff
.mfp-hide { display: none !important; }


////////////////////////
// 3. Appearance
////////////////////////

// Preloader and text that displays error messages
.mfp-preloader {
    position: absolute;
        top: 50%; left: 8px; right: 8px;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    color: $controls-text-color;
    z-index: $z-index-base + 4; 
    @include opacity(1);
}
.mfp-preloader a { color: $controls-text-color; }
.mfp-preloader a:hover { color: $controls-text-color-hover; }

// Hide preloader when content successfully loaded
.mfp-s-ready .mfp-preloader { @include opacity(0); /* display: none; */ }

// Hide content when it was not loaded
.mfp-s-error .mfp-content { @include opacity(0); /* display: none; */ }

// CSS-reset for buttons
button.mfp-close,
button.mfp-arrow {
    //overflow: visible;
    //cursor: pointer;
    -webkit-appearance: none;
    display: block;
    padding: 0;
    z-index: $z-index-base + 6; 
    @include reset-button-styles( $color: no, $border: 0, $solid-bg: transparent ); 
    @include opacity( $controls-opacity );
    
    &:hover, 
    &:focus { @include opacity( 1 ); }
}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}

// Close icon
.mfp-close {
    position: absolute;
        top: 0; right: 0; 
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-decoration: none;
    text-align: center;
    padding: 0 0 1em .75em;
    color: $controls-color;
    font-weight: bold; 
    font-size: 28px;
    font-family: Arial, Baskerville, monospace;
    @include opacity( $controls-opacity );
    
    &:hover, &:focus { @include opacity( 1 ); }
    
    &:active { top: 1px; }
}

.mfp-close-btn-in .mfp-close { color: $inner-close-icon-color; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    color: $controls-color;
    text-align: right;
    width: 100%;
}

// "1 of X" counter
.mfp-counter {
    position: absolute;
        top: 0; right: 0;
    color: $controls-text-color; 
    white-space: nowrap; 
}

// Navigation arrows
@if $include-arrows {
  
    .mfp-arrow {
        position: absolute;
            top: 50%;
        margin: 0;
        margin-top: -55px;
        padding: 0;
        width: 90px;
        height: 110px;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        @include opacity( $controls-opacity );
    }

    .mfp-arrow:active { margin-top: -54px; }
    
    .mfp-arrow:hover,
    .mfp-arrow:focus {
        @include opacity( 1 );
    }

    .mfp-arrow {

        &:before,
        &:after,
        .mfp-b,
        .mfp-a {
            content: '';
            display: block;
            position: absolute;
                top: 0; left: 0;
            width: 0;
            height: 0;
            margin-top: 35px;
            margin-left: 35px;
            border: medium inset transparent;
        }

        &:after,
        .mfp-a {
            top:8px;
            border-top-width: 13px;
            border-bottom-width: 13px;
        }

        &:before,
        .mfp-b {
            border-top-width: 21px;
            border-bottom-width: 21px;
        }
    }

    .mfp-arrow-left {
        left: 0;
    
        &:after,
        .mfp-a {
            border-right: 17px solid $arrow-inner-color;
            margin-left: 31px;
        }
        
        &:before,
        .mfp-b {
            margin-left: 25px;
            border-right: 27px solid $arrow-border-color;
        }
    }
    
    .mfp-arrow-right {
        right: 0;
        
        &:after,
        .mfp-a {
            border-left: 17px solid $arrow-inner-color;
            margin-left: 39px
        }
        
        &:before,
        .mfp-b {
            border-left: 27px solid $arrow-border-color;
        }
    }
}


// Iframe content type
@if $include-iframe-type {

    .mfp-iframe-holder {
        padding-top: $iframe-padding-top;
        padding-bottom: $iframe-padding-top;
    }
    
    .mfp-iframe-holder .mfp-content {
        line-height: 0;
        width: 100%;
        max-width: $iframe-max-width;
    }
    
    .mfp-iframe-scaler {
        width: 100%;
        height: 0;
        overflow: hidden;
        padding-top: $iframe-ratio * 100%;
    }
    
    .mfp-iframe-scaler iframe {
        position: absolute;
            top: 0; left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: $iframe-background;
        @include box-shadow( $shadow ); 
    }
    
    .mfp-iframe-holder .mfp-close { top: -40px; }
}



// Image content type
@if $include-image-type {

    /* Main image in popup */
    img.mfp-img {
        width: auto;
        max-width: 100%;
        height: auto;
        display: block;
        line-height: 0;
        padding: $image-padding-top 0 $image-padding-bottom;
        margin: 0 auto;
        @include box-sizing( border-box ); 
    }

    /* The shadow behind the image */
    .mfp-figure:after {
        content: '';
        position: absolute;
            top: $image-padding-top; left: 0; bottom: $image-padding-bottom;
        display: block;
        right: 0;
        width: auto;
        height: auto;
        z-index: -1;
        background: $image-background;
        @include box-shadow( $shadow ); 
    }
    
    .mfp-figure {
        line-height: 0; 
        @include opacity(1);
    }
    
    .mfp-bottom-bar {
        position: absolute;
            bottom: .75em; left: 0;
        width: 100%;
        cursor: auto; 
        line-height: 1.5;
        @include pe-rem-helper( font-size, 14px ); 
    }
    
    .mfp-title {
        text-align: left;
        color: $caption-title-color;
        word-break: break-word;
        padding-right: 20%; // leave some space for counter at right side
    }

    .mfp-figure small {
        color: $caption-subtitle-color;
        display: block; 
        line-height: 1; 
        @include pe-rem-helper( font-size, 12px ); 
    }
    
    .mfp-image-holder .mfp-content {
        max-width: 100%;
    }

    .mfp-gallery .mfp-image-holder .mfp-figure {
        cursor: pointer;
    }


  @if $include-mobile-layout-for-image {

      @media screen and (max-width: 800px) and (orientation:landscape), screen and (max-height: 300px) {
        
        /*
         * Remove all paddings around the image on small screen
         */
        .mfp-img-mobile .mfp-image-holder {
            padding-left: 0;
            padding-right: 0;
        }
        
        .mfp-img-mobile img.mfp-img { padding: 0; }
        
        /* The shadow behind the image */
        .mfp-img-mobile .mfp-figure:after {
            top: 0; bottom: 0;
        }

        .mfp-img-mobile .mfp-bottom-bar {
            position: fixed;
                top: auto; bottom: 0;
            background: rgba(0,0,0,0.6);
            margin: 0;
            padding: 3px 5px;
            @include box-sizing( border-box ); 
        }
        
        .mfp-img-mobile .mfp-bottom-bar:empty { padding: 0; }
        
        .mfp-img-mobile .mfp-counter {
            right: 5px; top: 3px;
        }
        
        .mfp-img-mobile .mfp-close {
            position: fixed;
              top: 0; right: 0;
            width: 35px;
            height: 35px;
            line-height: 35px;
            background: rgba(0, 0, 0, 0.6);
            text-align: center;
            padding: 0;
        }
        
        .mfp-img-mobile .mfp-figure small {
            display: inline;
            margin-left: 5px;
        }
      }
  }

}


// Scale navigation arrows and reduce padding from sides
@media all and (max-width: 900px) {
    
    .mfp-arrow {
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
    .mfp-arrow-left {
        -webkit-transform-origin: 0;
        transform-origin: 0;
    }
    .mfp-arrow-right {
        -webkit-transform-origin: 100%;
        transform-origin: 100%;
    }
    .mfp-container {
        padding-left: $popup-padding-left-mobile;
        padding-right: $popup-padding-left-mobile;
    }
}


// IE7 support
// Styles that make popup look nicer in old IE
@if $IE7support {
    
    .mfp-ie7 {
    
        .mfp-img {
            padding: 0;
        }
        
        .mfp-bottom-bar {
            width: 600px;
            left: 50%;
            margin-left: -300px;
            margin-top: 5px;
            padding-bottom: 5px;
        }
        
        .mfp-container { padding: 0; }
        
        .mfp-content { padding-top: 44px; }
        
        .mfp-close {
            top: 0; right: 0;
            padding-top: 0;
        }
    }
}